[project]
	description = repository that contains puppet code that deploys our COI roles.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Juergen Brendel (juergenbrendel)
[access "refs/for/refs/*"]
	read = group user/Juergen Brendel (juergenbrendel)
	push = group user/Juergen Brendel (juergenbrendel)
	label-Code-Review = -2..+2 group user/Juergen Brendel (juergenbrendel)
	label-Verified = -1..+1 group user/Juergen Brendel (juergenbrendel)
	rebase = group user/Juergen Brendel (juergenbrendel)
	removeReviewer = group user/Juergen Brendel (juergenbrendel)
	submit = group user/Juergen Brendel (juergenbrendel)
[access "refs/heads/*"]
	read = group user/Juergen Brendel (juergenbrendel)
	create = group user/Juergen Brendel (juergenbrendel)
	push = +force group user/Juergen Brendel (juergenbrendel)
	pushMerge = group user/Juergen Brendel (juergenbrendel)
[access "refs/tags/*"]
	push = +force group user/Juergen Brendel (juergenbrendel)
	pushTag = group user/Juergen Brendel (juergenbrendel)
	pushSignedTag = group user/Juergen Brendel (juergenbrendel)
